<template>
    <div>
        <div class="flex justify-between">
            <div class="text-blue-400">
                <button> <router-link :to="'/articles/' + this.$route.params.id">
                    < Back
                </router-link></button>
            </div>
        </div>
        <form @submit.prevent="submitForm()">

            <InputField name="title" label="Title" placeholder="The title of the article" @update:field="form.title = $event" :errors="errors" :data="form.title"></InputField>
            <InputField name="content" label="Content" placeholder="The content of the article" @update:field="form.content = $event" :errors="errors" :data="form.content"></InputField>
            <InputField name="external_url" label="External url" placeholder="The Link to the external resource" @update:field="form.external_url = $event" :errors="errors" :data="form.external_url"></InputField>

            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Edit Article</button>
            </div>

        </form>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "ArticleEdit",
        mounted() {
            axios.get('/api/news/articles/' + this.$route.params.id)
                .then(response => {
                    this.form = response.data.data.attributes;
                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                    if(error.response.status == 404) {
                        this.$router.push('/articles')
                    }
                });
        },
        components: {
            InputField
        },
        data: function () {
            return {
                form: {
                    'title' : '',
                    'content' : '',
                    'external_url' : '',
                },
                errors: null
            }
        },
        methods: {
            submitForm: function () {
                axios.patch('/api/news/articles/' + this.$route.params.id, this.form)
                    .then(response => {
                        this.$router.push('/articles/' + this.$route.params.id);
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
