<template>
    <div>
        <form @submit.prevent="submitForm()">
            <InputField name="title" label="Title" placeholder="The title of the article"
                        @update:field="form.title = $event" :errors="errors"></InputField>
            <InputField name="content" label="Content" placeholder="The content of the article"
                        @update:field="form.content = $event" :errors="errors"></InputField>
            <InputField name="external_url" label="External url" placeholder="The Link to the external resource"
                        @update:field="form.external_url = $event" :errors="errors"></InputField>
            <SelectField name="news_category_id" label="Category"
                         @selected="form.news_category_id = $event" :errors="errors"
                         :data="categories"></SelectField>
            <SelectField name="tags" label="Tags"
                         @selected="form.tags = $event" :errors="errors" multiple="true"
                         :data="tags"></SelectField>

             <div class="relative pb-4">
                <label class="absolute pt-2 text-blue-500 uppercase text-xs font-bold">Featured</label>

                <div class="mx-auto flex pt-8 text-gray-900 w-full pb-2 focus:outline-none focus:border-blue-400">
                    <div class="flex items-center mr-4 mb-4">
                        <input id="radio1" type="radio" name="radio" class="hidden" v-model="form.featured" checked v-bind:value="0"/>
                        <label for="radio1" class="flex items-center cursor-pointer">
                            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
                            No</label>
                    </div>

                    <div class="flex items-center mr-4 mb-4">
                        <input id="radio2" type="radio" name="radio" class="hidden" v-model="form.featured" v-bind:value="1"/>
                        <label for="radio2" class="flex items-center cursor-pointer">
                            <span class="w-4 h-4 inline-block mr-1 rounded-full border border-grey"></span>
                            Yes</label>
                    </div>
                </div>
            </div>

            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Add New Article</button>
            </div>
        </form>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    import SelectField from "../components/SelectField";

    export default {
        name: "ArticleCreate",
        components: {
            SelectField,
            InputField
        },
        mounted() {
            this.getCategories();
            this.getTags();
        },
        data: function () {
            return {
                form: {
                    'title': '',
                    'content': '',
                    'external_url': '',
                    'news_category_id': null,
                    'tags': [],
                    'featured': '',
                },
                categories: '',
                tags: '',
                errors: null,
                selected: null
            }
        },
        methods: {
            changeSelected: function (value) {
                this.selected = value
            },
            submitForm: function () {
                axios.post('/api/news/articles', this.form)
                    .then(response => {
                        this.$router.push('/articles/' + response.data.data.id);
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            },
            getCategories() {
                axios.get('/api/news/categories')
                    .then((response) => {
                        this.categories = response.data.data;
                    })
                    .catch(resonse => {
                        console.log('error');
                    })
            },
            getTags() {
                axios.get('/api/news/tags')
                    .then((response) => {
                        this.tags = response.data.data;
                    })
                    .catch(resonse => {
                        console.log('error');
                    })
            },

        }
    }
</script>

<style scoped>
    input[type="radio"] + label span {
        transition: background .2s,
        transform .2s;
    }

    input[type="radio"] + label span:hover,
    input[type="radio"] + label:hover span{
        transform: scale(1.2);
    }

    input[type="radio"]:checked + label span {
        background-color: #3490DC;
        box-shadow: 0px 0px 0px 2px white inset;
    }

    input[type="radio"]:checked + label{
        color: #3490DC;
    }
</style>
