<template>
    <div>
        <form @submit.prevent="submitForm()" class="pb-2">
            <InputField name="title" label="Article Title" placeholder="Search by article title" @update:field="title = $event"></InputField>
            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Search</button>
            </div>
        </form>
        <div v-if="loading">Loading ...</div>
        <div v-else>
            <div v-if="articles.data.length === 0">
                <p>No articles found,
                    <router-link to="/articles/create">Get started</router-link>
                </p>
            </div>
            <div v-for="article in articles.data">
                <router-link :to="'/articles/' + article.data.id"
                             class="flex items-center border-b border-gray-400 p-4 hover:bg-gray-100 hover:no-underline">
                    <div>
                        <p class="text-blue-400 text-1xl font-bold">{{ article.data.attributes.title }}</p>
                        <p class="text-gray-600 ">{{ article.data.attributes.content }}</p>
                    </div>
                </router-link>
            </div>
            <div class="items-center mt-5">
                <pagination :data="articles" @pagination-change-page="getArticles"></pagination>
            </div>
        </div>
    </div>
</template>

<script>
    import InputField from "../components/InputField";
    export default {
        name: "ArticleIndex",
        components: {
            InputField
        },
        mounted() {
            this.getArticles();
        },
        data: function () {
            return {
                loading: true,
                articles: null,
                title: '',
            }
        },
        methods: {
            getArticles(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                axios.get('/api/news/articles?page=' + page + '&title=' + this.title)
                    .then(response => {
                        this.articles = response.data;
                        this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    alert('Unable to get articles.')
                });
            },
            submitForm: function () {
                axios.get('/api/news/articles?title=' + this.title)
                    .then(response => {
                        this.articles = response.data;
                    }).catch(error => {
                    alert('No article found with given title.')
                });
            }
        }
    }
</script>

<style scoped>
    .pagination { justify-content: center!important; }
</style>
