<template>
    <div>
        <form @submit.prevent="submitForm()">
            <InputField name="title" label="Title" placeholder="The title of the category"
                        @update:field="form.title = $event" :errors="errors"></InputField>
            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Add New Category</button>
            </div>
        </form>
    </div>
</template>

<script>
    import InputField from "../components/InputField";

    export default {
        name: "CategoryCreate",
        components: {
            InputField
        },
        data: function () {
            return {
                form: {
                    'title': '',
                },
                errors: null
            }
        },
        methods: {
            submitForm: function () {
                axios.post('/api/news/categories', this.form)
                    .then(response => {
                        this.$router.push('/categories/' + response.data.data.id);
                    })
                    .catch(error => {
                        this.errors = error.response.data.errors;
                    });
            }
        }
    }
</script>

<style scoped>

</style>
