<template>
    <div>
        <div v-if="loading">Loading ...</div>
        <div v-else class="pb-4">
            <h2 class="text-xl">Featured Articles</h2>
            <div v-if="articles.length === 0">
                <p>No articles found,
                    <router-link to="/articles/create">Get started</router-link>
                </p>
            </div>
            <div v-for="article in articles">
                <router-link :to="'/articles/' + article.data.id"
                             class="flex items-center border-b border-gray-400 p-4 hover:bg-gray-100 hover:no-underline">
                    <div>
                        <p class="text-blue-400 text-1xl font-bold">{{ article.data.attributes.title }}</p>
                        <p class="text-gray-600 ">{{ article.data.attributes.content }}</p>
                    </div>
                </router-link>
            </div>
        </div>

        <div v-if="loading">
            Loading ...
        </div>
        <div v-else>
            <div class="flex justify-between">
                <div class="text-blue-400">
                    <button>
                        <router-link :to="'/categories'">
                            < Back
                        </router-link>
                    </button>
                </div>
                <div class="relative">
                    <router-link :to="'/categories/' + category.id + '/edit'"
                                 class="px-4 py-2 rounded text-sm mr-2 font-bold text-green-500 border border-green-500">
                        Edit
                    </router-link>
                    <a href="#" class="px-4 py-2 text-sm font-bold border border-red-500 rounded text-sm text-red-500"
                       @click="modal = !modal">Delete</a>

                    <div v-if="modal"
                         class="absolute bg-blue-900 text-white rounded-lg z-20 p-8 w-64 right-0 mt-2 mr-6">
                        <p>Are you sure?</p>
                        <div class="flex items-center mt-6 justify-end">
                            <button @click="modal = !modal" class="text-white pr-4">Cancel</button>
                            <button @click="destroy()"
                                    class="px-4 py-2 bg-red-500 rounded text-sm font-bold text-white">Delete
                            </button>
                        </div>
                    </div>

                </div>
                <div v-if="modal" @click="modal = !modal" class="bg-black opacity-25 absolute right-0 left-0 top-0 bottom-0
z-10"></div>
            </div>
            <p class="pt-6 text-blue-500 uppercase">Title</p>
            <p class="pt-2 text-gray-600 text-sm">{{ category.attributes.title }}</p>
            <p class="pt-6 text-blue-500 uppercase">Created</p>
            <p class="pt-2 text-gray-600 text-sm">{{ category.attributes.created_at }}</p>
            <p class="pt-6 text-blue-500 uppercase">Last Updated</p>
            <p class="pt-2 text-gray-600 text-sm">{{ category.attributes.updated_at }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "CategoryShow",
        mounted() {
            axios.get('/api/news/categories/' + this.$route.params.id + '?include=featuredArticles')
                .then(response => {
                    this.category = response.data.data;
                    this.articles = response.data.included.articles;

                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                    if (error.response.status == 404) {
                        this.$router.push('/categories')
                    }
                });
        },
        data: function () {
            return {
                modal: false,
                category: null,
                loading: true,
                articles: null
            }
        },
        methods: {
            destroy: function () {
                axios.delete('/api/news/categories/' + this.$route.params.id)
                    .then(response => {
                        this.$router.push('/categories');
                    })
                    .catch(error => {
                        alert('Unable to delete the category');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
