<template>
    <div>
        <form @submit.prevent="submitForm()" class="pb-2">
            <InputField name="title" label="Tag Title" placeholder="Search by tag title"
                        @update:field="title = $event"></InputField>
            <div class="flex justify-end">
                <button class="bg-blue-500 py-2 px-4 rounded text-white hover:bg-blue-400">Search</button>
            </div>
        </form>
        <div v-if="loading">Loading ...</div>
        <div v-else>
            <div v-if="tags.data.length === 0">
                <p>No tags yet</p>
            </div>
            <div v-for="tag in tags.data">
                <router-link :to="'/tags/' + tag.data.id"
                             class="flex items-center border-b border-gray-400 p-4 hover:bg-gray-100 hover:no-underline">

                    <div>
                        <div class="flex">
                            <p class="text-blue-400 text-1xl font-bold">{{ tag.data.attributes.title }}</p>
                        </div>
                    </div>

                </router-link>
            </div>
            <div class="items-center mt-5">
                <pagination :data="tags" @pagination-change-page="getTags"></pagination>
            </div>

        </div>
    </div>
</template>

<script>
    import InputField from "../components/InputField";

    export default {
        name: "TagIndex",

        components: {
            InputField
        },
        mounted() {
            this.getTags();
        },
        data: function () {
            return {
                loading: true,
                tags: {},
                title: '',
            }
        },
        methods: {
            getTags(page) {
                if (typeof page === 'undefined') {
                    page = 1;
                }

                axios.get('/api/news/tags?page=' + page + '&title=' + this.title)
                    .then(response => {
                        this.tags = response.data;
                        this.loading = false;
                    }).catch(error => {
                    this.loading = false;
                    alert('Unable to get tags.')
                });
            },
            submitForm: function () {
                axios.get('/api/news/tags?title=' + this.title)
                    .then(response => {
                        this.tags = response.data;
                    }).catch(error => {
                    alert('No tag found with the given title.')
                });
            }
        }
    }
</script>

<style scoped>
    .pagination {
        justify-content: center !important;
    }
</style>
