<template>
    <div>
        <div v-if="loading">
            Loading ...
        </div>
        <div v-else>
            <div class="flex justify-between">
                <div class="text-blue-400">
                    <button>
                        <router-link :to="'/tags'">
                            < Back
                        </router-link>
                    </button>
                </div>
                <div class="relative">
                    <router-link :to="'/tags/' + tag.id + '/edit'"
                                 class="px-4 py-2 rounded text-sm mr-2 font-bold text-green-500 border border-green-500">
                        Edit
                    </router-link>
                    <a href="#" class="px-4 py-2 text-sm font-bold border border-red-500 rounded text-sm text-red-500"
                       @click="modal = !modal">Delete</a>

                    <div v-if="modal"
                         class="absolute bg-blue-900 text-white rounded-lg z-20 p-8 w-64 right-0 mt-2 mr-6">
                        <p>Are you sure?</p>
                        <div class="flex items-center mt-6 justify-end">
                            <button @click="modal = !modal" class="text-white pr-4">Cancel</button>
                            <button @click="destroy()"
                                    class="px-4 py-2 bg-red-500 rounded text-sm font-bold text-white">Delete
                            </button>
                        </div>
                    </div>

                </div>
                <div v-if="modal" @click="modal = !modal" class="bg-black opacity-25 absolute right-0 left-0 top-0 bottom-0
z-10"></div>
            </div>
            <p class="pt-6 text-blue-500 uppercase">Title</p>
            <p class="pt-2 text-gray-600 text-sm">{{ tag.attributes.title }}</p>
            <p class="pt-6 text-blue-500 uppercase">Created</p>
            <p class="pt-2 text-gray-600 text-sm">{{ tag.attributes.created_at }}</p>
            <p class="pt-6 text-blue-500 uppercase">Last Updated</p>
            <p class="pt-2 text-gray-600 text-sm">{{ tag.attributes.updated_at }}</p>
        </div>
    </div>
</template>

<script>
    export default {
        name: "TagShow",
        mounted() {
            axios.get('/api/news/tags/' + this.$route.params.id)
                .then(response => {
                    this.tag = response.data.data;
                    this.loading = false;
                })
                .catch(error => {
                    this.loading = false;
                    if (error.response.status == 404) {
                        this.$router.push('/tags')
                    }
                });
        },
        data: function () {
            return {
                modal: false,
                tag: null,
                loading: true
            }
        },
        methods: {
            destroy: function () {
                axios.delete('/api/news/tags/' + this.$route.params.id)
                    .then(response => {
                        this.$router.push('/tags');
                    })
                    .catch(error => {
                        alert('Unable to delete the tag');
                    })
            }
        }
    }
</script>

<style scoped>

</style>
